---
import "@fontsource-variable/inter";
import "~/styles/index.css";
import { title as defaultTitle } from "~/wedding.config";

export interface Props {
  title?: string;
  lang?: string;
  dir?: string;
  style?: string;
}

const { title = defaultTitle, lang = "en", dir, style } = Astro.props;
const { generator, site } = Astro;
---

<!doctype html>
<html
  lang={lang}
  dir={dir}
  class="h-full motion-safe:scroll-smooth"
  data-theme="light"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>{title}</title>
    <meta name="description" content={defaultTitle} />

    <!-- social media -->
    <meta property="og:title" content={defaultTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={defaultTitle} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <slot />
  </body>
</html>
