---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import { wedding } from "~/wedding.config";

export interface Props {
  lang?: string;
}

const { lang } = Astro.props;
const venue = wedding.venues.wedding;
---

<ContentSection id="baran">
  {
    lang === "fa" ? (
      <Fragment slot="lead">
        {venue.descriptionPersian}
        <br />
        <br />
        {venue.addressPersian}
      </Fragment>
    ) : (
      <Fragment slot="lead">{venue.descriptionEnglish}</Fragment>
    )
  }
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href={venue.googleMapsUrl}
      class="flex items-center justify-center gap-3 px-6 py-4"
    >
      <Icon name="logos:google-maps" class="size-12" />
    </a>
    {
      venue.neshanUrl && (
        <a
          href={venue.neshanUrl}
          class="flex items-center justify-center gap-3 px-6 py-4"
        >
          <Icon name="neshan" class="size-12" />
        </a>
      )
    }
  </div>
  <iframe
    class="border-4 border-primary"
    src={venue.googleMapsEmbed}
    height="450"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</ContentSection>
