---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
import { wedding } from "~/wedding.config";

const { husband, wife } = wedding.couple;

const husbandLinks: Array<FooterLink> = [
  {
    url: husband.socials.github,
    description: `${husband.name} ${husband.lastName}'s Github`,
    icon: "skill-icons:github-light",
  },
  {
    url: husband.socials.instagram,
    description: `${husband.name} ${husband.lastName}'s Instagram`,
    icon: "skill-icons:instagram",
  },
];

const wifeLinks: Array<FooterLink> = [
  {
    url: wife.socials.github,
    description: `${wife.name} ${wife.lastName}'s Github`,
    icon: "skill-icons:github-light",
  },
  {
    url: wife.socials.instagram,
    description: `${wife.name} ${wife.lastName}'s Instagram`,
    icon: "skill-icons:instagram",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage choice="none" />
  </div>
  <ul class="relative grid grid-cols-3 gap-4">
    <li class="m-auto">
      <span class="flex items-center justify-center text-center">
        {husband.name}<br />
        {husband.emoji}
      </span>
    </li>
    {
      husbandLinks.map((link) => (
        <li>
          <a class="flex size-16 items-center justify-center" href={link.url}>
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <div class="grid grid-cols-2 gap-40"></div>
  <ul class="relative grid grid-cols-3 gap-4">
    <li class="m-auto">
      <span class="flex items-center justify-center text-center">
        {wife.name}<br />
        {wife.emoji}
      </span>
    </li>
    {
      wifeLinks.map((link) => (
        <li>
          <a class="flex size-16 items-center justify-center" href={link.url}>
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
