---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import { wedding } from "~/wedding.config";

export interface Props {
  since: string;
  lang?: string;
}

const { since, lang } = Astro.props;
const { husband, wife } = wedding.couple;
---

<section class="relative h-full">
  <div id="splash-bg-fallback" class="absolute inset-0 w-full">
    <HeroImage />
  </div>
  <div class="relative flex h-full items-center justify-center">
    <h2 class="flex flex-col items-center self-auto">
      <Icon name="wedding" class="size-24 pb-5 text-primary md:size-32" />
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        {
          lang === "fa" ? (
            <Fragment>
              {wife.namePersian}
              <br /> و
              <br /> {husband.namePersian}
            </Fragment>
          ) : (
            <Fragment>
              {wife.name}
              <br /> and,
              <br /> {husband.name}
            </Fragment>
          )
        }
        {
          since && (
            <Fragment>
              <br />
              <br />
              <astro-count-down data-since={since} data-lang={lang}>
                <span />
              </astro-count-down>
            </Fragment>
          )
        }
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<script>
  class AstroCountDown extends HTMLElement {
    days: number;
    hours: number;
    minutes: number;
    seconds: number;
    weddingDate: number;
    lang: string;

    private since() {
      let now = new Date().getTime();

      let diff = this.weddingDate - now;

      const counter = this.querySelector("span");
      if (counter == null) return;

      if (diff > 0) {
        this.days = Math.floor(diff / (1000 * 60 * 60 * 24));
        this.hours = Math.floor(
          (diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
        );
        this.minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
        this.seconds = Math.floor((diff % (1000 * 60)) / 1000);

        if (this.lang === "fa") {
          counter.textContent = `${this.days.toLocaleString("fa-IR").padStart(2, "۰")}:${this.hours.toLocaleString("fa-IR").padStart(2, "۰")}:${this.minutes.toLocaleString("fa-IR").padStart(2, "۰")}:${this.seconds.toLocaleString("fa-IR").padStart(2, "۰")}`;
        } else {
          counter.textContent = `${this.days.toString().padStart(2, "0")}:${this.hours.toString().padStart(2, "0")}:${this.minutes.toString().padStart(2, "0")}:${this.seconds.toString().padStart(2, "0")}`;
        }
      } else {
        let elapsed = Math.floor(-diff / (1000 * 60 * 60 * 24));

        if (this.lang === "fa") {
          counter.textContent = `${elapsed.toLocaleString("fa-IR")} روز از آن روز گذشت`;
        } else {
          counter.textContent = `${elapsed} days since our special day`;
        }
      }
    }

    constructor() {
      super();

      const since = this.getAttribute("data-since");
      const lang = this.getAttribute("data-lang");

      this.days = -1;
      this.hours = 0;
      this.minutes = 0;
      this.seconds = 0;
      this.weddingDate = 0;
      this.lang = "en";

      if (lang === "fa") {
        this.lang = "fa";
      }

      if (since != null) {
        this.weddingDate = new Date(since).getTime();

        this.since();
        setInterval(() => this.since(), 1000);
      }
    }
  }
  customElements.define("astro-count-down", AstroCountDown);
</script>
