---
import Baran from "~/components/baran.astro";
import GuestSection from "~/components/guest.astro";
import Splash from "~/components/splash.astro";
import "~/styles/english.css";
import { config } from "astro.config";
import Base from "~/layouts/Base.astro";
import type { Guest } from "~/types";
import { wedding } from "~/wedding.config";

const { id } = Astro.params;

const resp = await fetch(`${config.backend_url}/guest/${id}`);
if (!resp.ok) {
  return Astro.redirect("/");
}

const guest: Guest = await resp.json();
---

<Base title={guest.first_name}>
  <Splash since={wedding.dates.wedding} />
  <div class="columns-1 px-8 py-8">
    <GuestSection guest={guest} />
    <Baran />
  </div>
  <script>
    setTimeout(() => {
      document.getElementById("guest")?.scrollIntoView({ behavior: "smooth" });
    }, 1500);
  </script>
</Base>
