---
import "@fontsource-variable/inter";
import Baran from "~/components/baran.astro";
import Splash from "~/components/splash.astro";
import GuestSection from "~/components/guest.astro";
import Showcase from "~/components/showcase.astro";
import "~/styles/index.css";
import { type Guest } from "~/types";
import { config } from "astro.config";

const { id } = Astro.params;

let resp = await fetch(`${config.backend_url}/guest/${id}`);
if (resp.status != 200) {
  return Astro.redirect("/");
}

const guest: Guest = await resp.json();
const { generator, site } = Astro;
const description = "Elahe & Parham Wedding";
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>{guest.first_name}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Elahe & Parham Wedding" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Splash since="Jun 16, 2024 18:30:00+03:30" />
    <div class="columns-1 px-8 py-8">
      <GuestSection guest={guest} />
      <Baran />
      <!--
      <Showcase />
      -->
    </div>
  </body>
</html>
